<!doctype html>
<title>Judy's Toothsome Treats</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<div class=page>
	<h1>Toothsome Treats</h1>
	<div class=navlinks>
		<a href="{{ url_for('index') }}">Home</a>
		<a href="{{ url_for('about') }}">About Us</a>
		<a href="{{ url_for('order_form') }}">Order Form</a>
		<a href="{{ url_for('photos') }}">Photos</a>
		<a href="{{ url_for('blog') }}">Blog</a>
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}{% endblock %}
</div>
