{% extends "master.html" %}
{% block body %}
<script type=text/javascript>
  $(document).ready(function() {
    $('#send').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_validate', {
        name: $('input[name="name"]').val(),
        email: $('input[name="email"]').val(),
        body: $('input[name="body"]').val()
      }, function(data) {
        $('#err').text(data.err);
      });
      return false;
    });
  });
</script>
 	<h2>Order Form</h2>
  <p><span id="err">error</span>
  <h3>This is the Order Form Page</h3>
	<dl>
      <dt>Name:
      <dd><input type=text name=name>
			<dt>Email:
			<dd><input type=text name=email>
			<dt>Order Details:
			<dd><input type=text name=body>
			<dd><a href=# id="send">Send</a>
	</dl>
{% endblock %}

